*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
    
header {
        height: 70px;
        background: rgb(235, 47, 47);
        padding: 0 50px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-around;
        align-items: center;
    
}
    
.logo{
    padding: 10%;
    align-items:center;
    text-transform:uppercase;
    color: aquamarine;
    font-weight: 200;
    height: 100px;
    
}


/*Navegacion*/   
.menu  a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 10px;
        transition: 0.4s;
       
}
    
.mostrar-menu,
.esconder-menu {
    font-size: 100px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu {
    order:1;
}

  .menu a:hover,
  .mostrar-menu 
  .esconder-menu:hover{
    color: #0a0e0c;
}

#check{
    display: none;
    }


 @media (max-width: 768px){
    .mostrar-menu,
    .esconder-menu{ 
        display: block;
    }
    
    */
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d5c;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a{
        display: block;
        padding: 20px;
    
    }
     .esconder-menu{
     position: absolute;
     top: 40px;
     right: 40px;

    }
     #check:checked ~ .menu{
        right: 0;

    }
}

/*banner*/
.slider{
    width: 100%;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
  }
  .slider ul{
      display: flex;
      animation: cambio 20s infinite alternate linear;
      width: 400%;
  }
  .slider li{
      width: 100%;
      list-style: none;
  }
  .slider img{
      width: 100%;
      height: 70%;
  }
  @keyframes cambio{
      0%{margin-left: 0;}
      20%{margin-left: 0;}
      
      25%{margin-left: -100%;}
      45%{margin-left: -100%;}
      
      50%{margin-left: -200%;}
      70%{margin-left: -200%;}
      
      75%{margin-left: -300%;}
      100%{margin-left: -300%;}
  }
  @media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{ 
  
  }
  }
  
/*contenedor index*/
.contenedor{ 
    width:100%;
    margin: auto;
    overflow: hidden;
  }


  img{
      width: 70%;
      cursor: pointer;
       
      
  }
  .producto__columna {
      text-align: center;
  }
  .producto__columna{
      padding: 10%;
      margin: 10px; 
      background-color: rgb(255, 255, 255);
      transition: all 1s;
    }
    .producto__columna:hover{
    transform: scale(1.2);

    }



  .personas .contenedor{
      display: grid;
      }
  @media(min-width:520px){
      .nav.personas .contenedor{     
    grid-template-columns: repeat(2,50%);
      }
  }
  @media(min-width:728px){
     .nav .personas .contenedor{
    grid-template-columns: repeat(3,33.3%);
      }
  }
  @media(min-width:1024px){
     .personas .contenedor{
      
    grid-template-columns: repeat(4,25%);
      }
      .contenedor{
           width: 1024px;
      }
  }
  @media(min-width:1200px){
      .contenedor{
           width: 1200px;
      }
  }


  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    background-color: #ee3838;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    padding: 10px;
    grid-auto-flow: dense;
  }
  
  @media (min-width: 600px) {
    .wide {
      grid-column: span 2;
    }
  
    .tall {
      grid-row: span 2;
    }
  }

/*footer  */
.pie-pagina{
    width: 100%;
    background-color: #f13f3f;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #e4e7eb;
    
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #e91e1e;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
 
.jumbotron{

    padding: 05%;
    background-color: #a39999;

    
}

/*Formulario*/


  
  .form-register {
    width: 400px;
    background: #e74a4a;
    padding: 50px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px rgb(241, 236, 236);
  }
  
  .form-register h4 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .controls {
    width: 80%;
    background: #fafafa;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    pointer-events: painted;
    background: #ec1010;
    cursor: pointer;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }


/*formulario de contacto*/




 
  